<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12 mt-4">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 border-t-[10px] border-green-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
          >
            <!-- message here -->
            <div data-th-replace="message::messagebox"></div>

            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Forgot Password
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-400">
              Enter your registered email address to receive a password reset link.
            </p>

            <form
              method="post"
              data-th-action="@{'/forgot-password'}"
              class="mt-5"
            >
              <!-- email field -->
              <div class="mb-4">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email Address</label
                >
                <input
                  name="email"
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="your-email@example.com"
                  required
                />
              </div>

              <div class="mb-3 flex justify-center space-x-3">
                <button
                  type="submit"
                  class="px-4 py-2 rounded bg-green-700 hover:bg-green-850 text-white font-semibold shadow-md active:scale-95 transition-all"
                >
                  Send Reset Link
                </button>
                <a
                  href="/login"
                  class="px-4 py-2 rounded bg-gray-600 hover:bg-gray-750 text-white font-semibold shadow-md text-center"
                >
                  Back to Login
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("Forgot Password Page");
    </script>
  </body>
</html>
